body{
    font-family: sans-serif;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    border: 2px dashed #666;
    padding: 20px;
    height: 500px;

}
.item {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.item1 { background: #e74c3c; width: 60px; height: 60px;order: 1; flex-grow: 2;flex-shrink: 1; flex-basis: 50%;}
.item2 { background: #2ecc71; width: 80px; height: 100px; order: 1;flex-grow: 1; flex-shrink: 1;align-self: flex-end;}
.item3 { background: #3498db; width: 100px; height: 60px; order: 1; flex-grow: 1}
.item4 { background: #f1c40f; width: 70px; height: 70px; order: 1; flex-grow: 1}
.item5 { background: #9b59b6; width: 120px; height: 80px; order: 1;flex-grow: 1}
.item6 { background: #1abc9c; width: 60px; height: 120px; order: 1; flex-grow: 1}
.item7 { background: #e67e22; width: 90px; height: 90px; order: 1; flex-grow: 1}
.item8 { background: #34495e; width: 70px; height: 70px; order: 1;flex-grow: 1}