p{
    color: rgb(77, 125, 6);
    font-style: italic;
}
body {
    background-color: #FFFCE3 ;

}
.page {
    text-align: center;
}
ul {
    padding: 0;
}
li{
    margin: 5px 0;
    padding: 6px 8px;
    border-radius: 5px; 
}
.todo-list {
    border: 3px dashed orange;
    padding:8px 6px ;
    margin: 0px;
    list-style: none;
    text-align: left;
    display: inline-block;
    background-color: white;
    border-radius: 8px;
}

.important.morning{
    background-color: green;
}
.important{
    background-color:#e9a467 ;
}
.evening{
    background-color: #9af6f6;
}
li:nth-child(odd){
    background-color: #fff1d0 ;
}
#main-title{
    color: #283618 ;
}
li:first-child{
    border-top: 2px solid rgb(82, 54, 3);
}
li:last-child{
    border-bottom: 2px solid rgb(82, 54, 3) ;
}
li:hover::after{
    content: "✅";
}